/*
======================================================================
								STILE TAG
======================================================================
*/

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
}

html, body {
  font-family: Verdana, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html [type=button], [type=reset], [type=submit] {-webkit-appearance:button}

html [type=radio] {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
  display: inline-block;
}

*,*::before,*::after{box-sizing:inherit}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

footer, header, nav {display:block;}

img {border-style:none;}

hr {
  border:0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

a {
  background-color: transparent;
  text-decoration: underline;
  display: inline-block;
  color: inherit;
  transition: all .2s ease-in-out;
}

a:active, a:hover {
  outline-width:0;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: all .2s ease-in-out;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 0.4em;
}

p {margin: 0.6em 0;}

h1 {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

h2 {font-size: 1.7em;}

h3 {
  font-size: 1.5em;
  font-weight: 900;
}

h4{font-size: 1.3em;}

h5{font-size: 1.2em;}

h6{font-size: 1.1em;}

textarea {
  width: 100%;
  height: 5em;
  transition: height .3s ease-out;
  font-family: Verdana, sans-serif;
}

textarea:focus {
  height: 15em;
}

input, select {
  padding: 0.5em;
  display: block;
  border: none;
  width: 100%;
  font: inherit;
  margin: 0;
  overflow: visible;
}

form {
  text-align: center;
}

fieldset {
  padding: 1em;
  margin: 1em 0;
  border: 2px solid white;
}

fieldset legend {
	font-size: 1.3em;
	padding: .5em;
}

input:focus {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="submit"] {
  width: 100%;
  transition: background-color 0.5s ease;
  margin-top: 2.5em;
}

input[type="submit"]:focus, input[type="submit"]:hover {
  transition: background-color 0.5s ease;
  background-color: #ffc844;
  color: white;
}

input#conferma {
  margin-top: 0;
}

figure {
  padding: 0.6em;
  border: 1px solid #979797;
  border-radius: 6px;
  display: inline-block;
  text-align: left;
  overflow: hidden;
}

figcaption {
  font-size: small;
}

figure > img {
  width: 100%;
  display: block;
}

form, input, textarea, button {
  font-size: 1em;
}

form p {
  text-align: left;
}

noscript {display: block;}

.index {
  text-align: left;
  margin-left: 20%;
}

.index p {
  font-size: 1.2em;
}

.btn {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 0.5em 1em;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  white-space: normal;
  border-radius: 4px;
  font-weight: bold;
  background-color: #ffc844;
  color: white;
}

a.btn {
  margin: 0.1em;
  padding: 1em 1.5em;
}

.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*
======================================================================
								VARIE
======================================================================
*/
.main {
  float: right;
  max-width: calc(100% - 110px);
  width: 90%;
  min-width: calc(100% - 150px);
}

#header-home, #header-form, #content-form {
  text-align: center;
}

#header-home a.btn, #header-form a.btn {
  margin: 1em 0;
}

#header-form {
  padding-bottom: 0;
}

#content-form.content, #header-form.content {
  padding: 0.01em 0;
}

#content-form {
  padding-top: 0;
}

#breadcrumb {
  text-align: center;
  position: relative;
  font-size: 1.3em;
}

#breadcrumb > p {
  display: inline;
}

.arrow {
  margin-top: 3.5em;
  width: 50px;
  height: 50px;
  background-image: none;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow p {
  position: absolute!important;
  height: 0!important;
  width: 0!important;
  overflow: hidden!important;
}

.down-arrow {
  background-image: url('../img/icons/down-arrow.png');
}

.up-arrow {
  background-image: url('../img/icons/up-arrow.png');
}

.title {
  margin: auto;
  font-family: 'Chelsea Market', cursive;
  font-size: 4em !important;
  letter-spacing: .2em;
}

#title-card {
  padding: 1.5em 0;
  background-color: white;
  color: black;
  text-align: center;
}

#title-card h1 {
  font-size: 3.5em;
  background-color: white;
  color: #16a085;
}

#title-card h1, #title-card h2, #title-card h3, #title-card h4 {
  text-align: center;
}

#title-card img {
  width: 25%;
}

.form-image {
  background-image: url("../img/form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.header-image {
  background-image: url('../img/dino-pattern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/*
======================================================================
								HOME
======================================================================
*/

#about {padding-bottom: 0;}

#home-shapes {height: 30vh;}

.floating-element {
  float: left;
  width: 33.33333%;
  height: 100%;
}

.small-shape {
  display: inline-block;
  max-width: 250px;
  width: 80%;
  height: 55%;
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#shape1 {
  background-image: url('../img/dino-shape-1.svg');
}

#shape2 {
  background-image: url('../img/dino-shape-2.svg');
}

#shape3 {
  background-image: url('../img/dino-shape-3.svg');
}


/* Daily stuff */

#daily-stuff {
	padding-left: 1em;
	padding-right: 1em;
}

.daily h1 {
  text-align: center;
}

.daily-wrapper {
  text-align: center;
}

.daily-wrapper img {
  width: 55%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.waytoobigtext {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

/*
======================================================================
								STORIA
======================================================================
*/

#history-index a {
  font-size: 1.2em;
  margin: 0.9em 0;
  display: block;
}

#scoperta {
  background-image: url('../img/dino-1.jpg');
}

#bipedi-quadrupedi {
  background-image: url('../img/dino-3.jpg');
}

#volcano-divider {
  background-image: url('../img/volcano.jpg');
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
======================================================================
								LAYOUT
======================================================================
*/

.full-screen {
  min-height: 100vh;
  min-width: 100vw; 
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.content {
  max-width: 980px;
  margin: auto;
  padding: 0.01em 1em;
  overflow: hidden;
}

.content-large {
  max-width: 1500px;
  margin: auto;
  /*padding: 0.01em 1em;*/
  overflow: hidden;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.wide {
  letter-spacing: 0.25em;
}

.center {
  text-align: center;
}

.right {
  float: right!important;
}

.row::after,.row::before,.row-padding::after,.row-padding::before {
  content: "";
  display: table;
  clear: both;
}

.half,.third {
  float: left;
  width: 100%;
}

.bar {
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
}

.bar::before, .bar::after {
  content: "";
  display: table;
  clear: both;
}

.panel {
  padding: 0.01em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.caption {
  font-size: 1.1em;
  text-align: center;
}

.white {
  color: black;
  background-color: #fff;
}

.white h1, .white h2, .white h3 {
  color: #16a085;
  text-align: center;
}

.white p, .white ul {
  padding-left: 1em;
  padding-right: 1em;
}

.colored {
  color: white;
  background-color: #16a085;
}

.text-colored {
  color: #16a085;
  background-color: white;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.wrap-margin {
  margin: 0.5em 0.5em;
}

.margin-half {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.margin-top {
  margin-top: 2em;
}

.margin {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.margin-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.padding-large {
  padding: 12px 24px!important;
}

.padding-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.padding-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.padding-6 {
  padding-top: 6em;
  padding-bottom: 6em;
}

.padding-12 {
  padding-top: 12em;
  padding-bottom: 12em;
}

.wrap-padding {
  padding: 1em;
}

.wrap-padding-small {
  padding: 0.5em;
}

/*
======================================================================
								COMMENTI
======================================================================
*/

.fancy-border {
  border: 1px solid white;
  border-radius: 3px;
}

.text-italic {
  font-style: italic;
}

.comment {
  margin-bottom: 2em;
  font-weight: 500;
}

.comment p:first-child {
  color: #16a085;
}

.comment p:nth-child(2) {
  border-radius: 4px;
}

.profile-pic {
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: white;
}

.profile-pic-comment {
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  width: 40px;
  height: 40px;
}

#commentboard textarea:focus {
  height: 5em;
}

/*
======================================================================
								LOADING
======================================================================
*/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-size: 1.2em;
}

#loading-image {
  display: block;
  width: 300px;
  height: 269px;
  background: url("../img/dino-loading.png") no-repeat;
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }

  40% {
    -o-transform: translateY(-30px);
  }

  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

/*
======================================================================
								TO THE TOP
======================================================================
*/

#toTheTop {
  display: block;
  position: fixed;
  bottom: 1.3em;
  right: 1.7em;
  z-index: 1;
  border: none;
  outline: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

/*
======================================================================
								AIUTI
======================================================================
*/


.hidden {
  position: absolute!important;
  height: 0!important;
  width: 0!important;
  overflow: hidden!important;
}

/*
======================================================================
								MENU'
======================================================================
*/

.sidebar {
  height: 100%;
  min-width: 110px;
  width: 10%;
  max-width: 150px;
  background-color: #fff;
  color: #000;
  position: fixed!important;
  z-index: 3;
  overflow: auto;
}

.menu-entry-small {
  width: 100%;
  padding: 1% 1em;
  display: inline-block;
  white-space: normal;
  background-color: white;
  color: black;
  border: 0;
  vertical-align: middle;
}

.menu-entry {
  width: 100%;
  height: 15%;
  max-height: 150px;
  padding: 5% 1em;
  display: inline-block;
  white-space: normal;
  background-color: white;
  color: black;
  border: 0;
  vertical-align: middle;
}


.menu-entry hr, .menu-entry-small hr {
  margin: 0;
}

.menu-entry p {
  display: block;
  margin: 0.2em;
}

.menu-entry:hover, .menu-entry.active, .menu-entry-small.active {
  background-color: #16a085;
  color: white;
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  transition: all .2s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.menu-entry:hover > .menu-icon, .menu-entry:active > .menu-icon, .menu-entry.active > .menu-icon {
  filter: invert(100%);
}

.sidebar .disabled {
  pointer-events: none;
  cursor: default;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

#close-button {
  max-height: 50px;
}

#close-button span { 
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu-icon {
  height: 55%;
  width: 55%;
  display: inline-block;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-home {
  background-image: url('../img/icons/menu_home.svg');
}

.icon-storia {
  background-image: url('../img/icons/menu_storia.png');
}

.icon-specie {
  background-image: url('../img/icons/menu_specie.svg');
}

.icon-articoli {
  background-image: url('../img/icons/menu_articoli.svg');
}

.icon-accedi {
  background-image: url('../img/icons/menu_accedi.png');
}

.icon-account {
  background-image: url('../img/icons/menu_account.png');
}

.icon-accounts {
  background-image: url('../img/icons/menu_accounts.svg');
}

/*
======================================================================
								ARTICOLI
======================================================================
*/

#dino-immagine {
	width: 49.999%;
}

.article-content {
  overflow: hidden;
}

#dino-card-head {
  text-align: center;
}

#caratteristiche {
  display: inline-block;
  width: 39.999%;
  overflow: hidden;
  vertical-align: bottom;
  text-align: left;
}

/*
======================================================================
			     BARRA DI RICERCA E PULSANTE MENU
======================================================================
*/

#topbar {
  background-color: transparent;
  color: black;
  display: block;
  position: fixed;
  margin-top: .5em;
  padding-right: 1.7em;
  z-index: 2;
  max-width: calc(100% - 110px);
  width: 90%;
  min-width: calc(100% - 150px);
}

#searchbar {
  margin: 1.5em;
  position: relative;
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 3em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  width: 50%;
  height: 2.5em;
  max-width: 415px;
}

#searchbar #wrapper {
  display: inline-block;
  width: 100%;
}

#searchbar #search-input {
  width: calc(100% - 3em);
  background-color: transparent;
  float: right;
  border: 0;
}

#searchbar #conferma {
  float: left;
  width: 3em;
  border: 0;
  margin-top: 0;
  background-color: transparent;
  background-image: url("../img/icons/search-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


#mobile-menu-icon, #toggle-searchbar {
  display: block;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 2%;
  margin-right: 15px;
  padding: 15px 20px;
}

/*
======================================================================
						FOOTER E CREDITI
======================================================================
*/

footer h2 {
  font-family: 'Chelsea Market', cursive;
  font-size: 2em;
}

#credits ul {
  list-style: circle;
  padding: 1em 0;
  margin-left: 1em;
}

#credits li {
  list-style: circle;
  padding: 0.5em 0;
}

#credits h2 {
  margin: 1em 0 0.5em 0;
}

/*
======================================================================
						JAVASCRIPT e MENU
======================================================================
*/

.require-js {
  display: none;
}

#nojs-menu {
  width: 100%;
  overflow: hidden;
  border: 3px solid #16a085;
}

#nojs-menu .menu-entry {
  width: 19%;
  min-width: 194px;
  max-height: 194px;
}

#nojs-menu .menu-icon {
  padding: 16%;
}

#alert-no-js strong, #nojs-avviso strong {
  color: #16a085;
  background-color: white;
}

#alert-no-js {
  border: 2px solid red;
}

#toggle-searchbar {
  display: none;
}

/*
======================================================================
							MESSAGGI DI ERRORE
======================================================================
*/

.errore {
  display: block!important;
  color: red!important;
  background-color: whitesmoke!important;
  padding: 0.5em!important;
  text-align: center!important;
  border-radius: 0.2em!important;
}

strong.alert {
  font-size: 1.6em;
  display: block;
}

.page-not-found .wrap {
  padding: 10% 5%;
}

.page-not-found p {
  font-size: 1.3em;
}

#error-image {
  background-size: contain;
  background-image: url("../img/error.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 30% 20%;
  max-width: 600px;
  max-height: 768px;
}

/*
======================================================================
							MEDIA QUERIES
======================================================================
*/

@media (max-width: 600px), (max-width: 812px) and (orientation: landscape) {
  .hide-small {
      display: none!important;
  }

  .main {
      min-width: 100%;
  }

  #header-menu {
      width: 70%;
      float: left;
  }

  #header-menu h1 {
      font-size: 1em;
  }

  #title-card {
      padding: 1em;
  }

  #title-card h1 {
      font-size: 2.5em;
  }

  .wrap-padding {
      padding: 0.5em;
  }

  #scoperta {
      padding-bottom: 85vw;
      background-size: contain;
      background-position: bottom;
  }

  #bipedi-quadrupedi {
      padding-bottom: 65vw;
      background-size: contain;
      background-position: bottom;
  }
  
  #dino-immagine {
	  width: 100%;
  }
	
  #caratteristiche {
	  width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .hide-medium {
      display: none!important;
  }
}

@media only screen and (max-width: 1023px) {
  .main, #topbar {
      margin-left: 0;
      margin-right: 0;
      min-width: 100%;
  }

  .sidebar {
      display: none;
      width: 100%;
  }

.padding-6.content {
      padding-top: 3em;
      padding-bottom: 3em;
  }

  #topbar {
      text-align: left;
      padding-right:0;
  }

  #searchbar {width: 66%;}
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  .sidebar {
      max-width: 100%;
      width: 100%;
  }

  .menu-entry {
      width: 33.33333%;
      height: 33.33333%;
  }

  .sidebar .active {
      background-color: white;
      color: black;
  }

  .sidebar .active > .menu-icon {
      filter: invert(0%);
  }

  .menu-entry-small {
      display: none;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  #scoperta .half, #bipedi-quadrupedi .half {width: 100%;}

  #scoperta {
      padding-bottom: 85vw;
      background-size: contain;
      background-position: bottom;
  }

  #bipedi-quadrupedi {
      padding-bottom: 65vw;
      background-size: contain;
      background-position: bottom;
  }
}

@media only screen and (max-device-width: 1024px) and (max-device-height: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
}

@media (min-width: 1024px) {			                                    
  .hide-large {display: none!important;}
  .sidebar {display: block;}
}

@media (min-width: 1301px) {                                                         
  .third {width: 33.33333%;}
  .half {width: 49.99999%;}
}

@media (min-width: 768px) and (max-width: 1300px) {
  .third {width: 49.99999%;}
  .half {width: 49.99999%;}
}